.containerRMCs {
	width: 100%;
	height: 100%;
	display: grid;
	place-items: center;
	/* Centers content both horizontally and vertically */
	overflow: hidden;
}

html,
body {
	overflow: hidden;
}


.containerRMCs .containerH {
	max-width: 100%;
	max-height: 100vh;
	padding: 5px 15px;
	margin: none;
}


  
  .heroContact {
	padding: 60px 20px;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #f7f7f7;
	border-radius: 2rem;
  }
  
  .formContact {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: 1rem;
  }
  
.inputContact {
	padding: 1rem 1.2rem;
	margin: 1rem;
	border-radius: 2rem;
	display: block;
	width: 80%;
	border: none;
	box-shadow: inset 6px 6px 8px rgba(97, 97, 97, 0.075),
	  6px 6px 6px rgba(255, 255, 255, 0.781);
	outline: none;
	background-color: inherit;
	color: rgb(231, 225, 225);
	font-size: inherit;
}

.inputContact:active {
	background-color: rgb(134, 37, 68); /* Change background color when active */
	color: #f7f7f7;
	transform: translateY(-2px) ease-in-out;
}


  .inputContacts {
	padding: 1rem 1.2rem;
	margin: 1rem;
	border-radius: 2rem;
	display: block;
	width: 100%;
	border: none;
	box-shadow: inset 6px 6px 8px rgba(97, 97, 97, 0.075),
	  6px 6px 6px rgba(255, 255, 255, 0.781);
	outline: none;
	background-color: inherit;
	color: rgb(84, 75, 75);
	font-size: inherit;
  }
  
  .submit , .btn {
	margin-top: 20px;
	font-weight: bold;
	box-shadow: -3px -3px 5px white, 3px 3px 5px rgba(209, 209, 209, 0.705);
	color: rgb(112, 112, 112);
	cursor: pointer;
  }
  
  .btn {
	text-align: center;
	color: black;
  }
  
  
  ::placeholder {
	color: rgb(161, 161, 161);
  }
  
  
  a {
	color: inherit;
	font-weight: bold;
	text-decoration: none;
  }
  
  .or {
	position: relative;
	font-weight: bold;
	color: rgb(112, 112, 112);
  }
  
  .or::before , .or::after {
	position: absolute;
	content: '';
	width: 700%;
	height: 1px;
	top: 50%;
	margin: 0 6px;
	background-color: rgba(0, 0, 0, 0.479);
  }
  
  .or::before {
	right: 100%;
  }
  
  .or::after {
  }
  
