.backpage{
	width: 100%;
	min-height: calc(100vh - 100px); /* Adjust 100px according to the height of your navbar and footer */
	display: grid;
	place-content: center;
}

.container {
	max-width: 350px;
	background: #f8f9fd;
	background: linear-gradient(
	  0deg,
	  rgb(255, 255, 255) 0%,
	  rgb(244, 247, 251) 100%
	);
	border-radius: 40px;
	padding: 25px 35px;
	border: 5px solid rgb(255, 255, 255);
	box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 30px 30px -20px;
	margin: 20px auto;
  }
  
  .heading {
	text-align: center;
	font-weight: 900;
	font-size: 30px;
	color: rgb(134, 37, 68);
  }
  
  .forms {
	margin-top: 20px;
  }
  
  .forms .inputs {
	width: 100%;
	background: white;
	border: none;
	padding: 15px 20px;
	border-radius: 20px;
	margin-top: 15px;
	box-shadow: #cff0ff 0px 10px 10px -5px;
	border-inline: 2px solid transparent;
  }
  
  .forms .inputs::-moz-placeholder {
	color: rgb(170, 170, 170);
  }
  
  .forms .inputs::placeholder {
	color: rgb(170, 170, 170);
  }
  
  .forms .inputs:focus {
	outline: none;
	border-inline: 2px solid #12b1d1;
  }
  
  .forms .forgot-password {
	display: block;
	margin-top: 10px;
	margin-left: 10px;
  }
  
  .forms .forgot-password a {
	font-size: 13px;
	color: rgb(16, 137, 211);;
	text-decoration: none;
	text-align: center;
  }
  
  .forms .login-button {
	display: block;
	width: 100%;
	font-weight: bold;
	background: rgb(186, 150, 162);
	color: white;
	padding-block: 15px;
	margin: 20px auto;
	border-radius: 20px;
	box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 20px 10px -15px;
	border: none;
	transition: all 0.2s ease-in-out;
  }
  
  .forms .login-button:hover {
	transforms: scale(1.03);
	box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 23px 10px -20px;
  }
  
  .forms .login-button:active {
	transforms: scale(0.95);
	box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 15px 10px -10px;
  }
  
  .social-account-container {
	margin-top: 25px;
  }
  
  .social-account-container .title {
	display: block;
	text-align: center;
	font-size: 10px;
	color: rgb(170, 170, 170);
  }
  
  .social-account-container .social-accounts {
	width: 100%;
	display: flex;
	justify-content: center;
	gap: 15px;
	margin-top: 5px;
  }
  
  .social-account-container .social-accounts .social-button {
	background: linear-gradient(45deg, rgb(0, 0, 0) 0%, rgb(112, 112, 112) 100%);
	border: 5px solid white;
	padding: 5px;
	border-radius: 50%;
	width: 40px;
	aspect-ratio: 1;
	display: grid;
	place-content: center;
	box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 12px 10px -8px;
	transition: all 0.2s ease-in-out;
  }
  
  .social-account-container .social-accounts .social-button .svg {
	fill: white;
	margin: auto;
  }
  
  .social-account-container .social-accounts .social-button:hover {
	transform: scale(1.2);
  }
  
  .social-account-container .social-accounts .social-button:active {
	transform: scale(0.9);
  }
  
  .agreement {
	display: block;
	text-align: center;
	margin-top: 15px;
  }
  
  .agreement a {
	text-decoration: none;
	color: #0099ff;
	font-size: 12px;
  }
  .demoContainer {
    max-width: 350px;
    text-align: center;
    border-color: #f297b7;
    border-width: medium;
	background: linear-gradient(
	  0deg,
	  rgb(255, 255, 255) 0%,
	  rgb(244, 247, 251) 100%
	);
    border-radius: 40px;
    padding: 25px 35px;
    border: 5px solid rgb(255, 255, 255);
    box-shadow: rgba(167, 28, 58, 0.878) 0px 30px 30px -20px;
    margin: 20px auto;
    transition: opacity 0.3s, visibility 0.3s;
}

.demoContainer.hidden {
    opacity: 0;
    visibility: hidden;
}

.infoIcon {
    display: none;
    font-size: 24px;
    color: var(--primary-color);
    text-align: center;
    margin: 20px auto;
}

.infoIcon.visible {
    display: block;
}
  